{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
    <link href="{% static 'bundle.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}


{% csrf_token %}

<!-- 
<h3>Index-Dev</h3>
<h1>Test 8</h1>
<h2>DEVELOP TEST 8</h2>
<h3>Index-DEVELOP TEST 8</h3>

<img 
    src="{% static 'images/Soci/Registrazione/bustina.jpg' %}" 
    class="rounded mx-auto d-block" 
    style="width: 80px"
    alt="..."
>

<h2>{{ request.user }}</h2>
-->

<!-- DEXO TEST OK:
<img src="{% static 'images/Soci/Registrazione/bustina.jpg' %}" 
class="rounded mx-auto d-block" style ="width: 80px"  alt="...">
-->

    <noscript>
        <strong>
            Ci spiace, ma il frontend non funziona senza JavaScript abilitato. Abilita JavaScript per continuare!
        </strong>
    </noscript>

    <div id="app"></div>

    {% render_bundle 'app' %}

{% endblock %}
